.history-container{
    margin: 2rem 0rem;
}

.history-title{
    margin: 0rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.horizontal-line{
    margin-bottom: 1rem;
}

.list{
    height: 15rem;
    overflow-y: scroll;
}

.list::-webkit-scrollbar{
    display: none;
}

.list-items{
    margin-bottom: 0.5rem;
    margin-right: 0.15rem;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    background-color: #ffffff;
}

.list-items-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0.6rem;
    overflow-x: scroll;
    font-size: 0.9rem;
}

.list-items-content::-webkit-scrollbar{
    display: none;
}

.item-text{
    margin-left: 0.25rem;
}

.amount-and-strip{
    display: flex;
    flex-direction: row;
}

/* .item-amount{

} */

.strip{
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    width: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

.positive{
    background-color: green;
}
  
.negative{
    background-color: red;
}