@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.main-container{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  background-color: #f7f7f6;
  padding: 5%;
}

.rem-balance{
  margin: 0;
}

.income-expense-card{
  display: flex;
  flex-direction: row;
  padding: 7.5%;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 5px;
  background-color: #ffffff;
}

.income-expense-card-col1{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
}

.income-expense-card-col2{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
  align-content: center;
}

.col-h3{
  margin: 0%;
}

.history-container{
  margin-top: 5%;
  margin-bottom: 5%;
}

.horizontal-line{
  margin-bottom: 5%;
}

.new-txn-container{
  margin-top: 5%;
  margin-bottom: 5%;
}

.new-txn-form{
  display: flex;
  flex-direction: column;
}

.input-field{
  margin-top: 2%;
  margin-bottom: 4%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0% 2%;
  height: 2.5rem;
  font-size: medium;
}

.label{
  font-weight: 600;
  font-size: medium;
}

.add-txn-button{
  margin-top: 2.5%;
  background-color: #7a61cf;
  width: 100%;
  padding: 2.5% 5%;
  border: none;
  border-radius: 5px;
  font-size: medium;
  color: white;
}

.vl{
  border-left: 2px solid #ddd;
  height: 50px;
}