@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.main-container{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: auto;
  background-color: #f7f7f6;
  padding: 5%;
}

.rem-balance{
  margin: 0;
}

.income-expense-card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1.5%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.income-expense-card-col1{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
  justify-content: center;
}

.income-expense-card-col2{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
  justify-content: center;
}

.col-h3{
  margin-top: 0%;
  margin-bottom: 2%;
  font-size: 22px;
}

.header{
  margin-top: 0%;
  margin-bottom: 1%;
  font-size: 20px;
}

.history-container{
  margin-top: 1.5%;
  margin-bottom: 3%;
}

.horizontal-line{
  margin-bottom: 1.5%;
}

.new-txn-container{
  margin-top: 1.5%;
  margin-bottom: 3%;
}

.new-txn-form{
  display: flex;
  flex-direction: column;
}

.input-field{
  margin-top: 1%;
  margin-bottom: 2%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0% 2%;
  height: 2.5rem;
  font-size: medium;
}

.label{
  font-weight: 600;
  font-size: medium;
}

.add-txn-button{
  margin-top: 2.5%;
  background-color: #7a61cf;
  width: 100%;
  padding: 1% 1%;
  border: none;
  border-radius: 5px;
  font-size: medium;
  color: white;
}

.vl{
  border-left: 2px solid #ddd;
  height: 60px;
}

.amount{
  display: flex;
  flex-direction: column;
}

.p{
  margin: 0;
}

button:hover{
  cursor: pointer;
}